html {
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

input:focus {
  border-bottom: 1px solid #023047 !important;
  box-shadow: 0 1px 0 0 #023047 !important;
}

label.active {
  color: #023047 !important;
}

#login-button {
    border-radius: 20px !important;
    box-shadow: none;
    background: #023047;
    margin-top: 20px;
    width: 50%;
}

/*#login-button, card {*/
/*    box-shadow: none !important;*/
/*}*/

form a {
    display: block;
    margin: 30px 0;
}

#login-card {
    border-radius: 20px;
    height: 50%;
    width: 50%;
    padding: 65px 50px;
}

#competition_image {
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #login-card {
      width: 95%;
      padding: 20px 10px;
      box-shadow: none;
      -webkit-box-shadow: none;
  }
}

.gradient_under_nav {
    background: #03a9f4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #03a9f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #03a9f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.prize_img {
    width: 80%;
    border-radius: 40px;
    object-fit: cover;
}

i.active {
    color: #023047 !important;
}

.prize_img {
    transition: all 1s;
}

.prize_img:hover {
    transform: rotate(180deg) scale(1.5);
}

.enter_comp_but {
    border-radius: 15px;
    margin: 60px 0;
    width: 200px;
}

.inter_bold {
    font-weight: 800;
}

main {
    flex: 1 0 auto;
}

.icon-block i {
    transition: all 1s;
}

.icon-block i:hover {
    transform: rotate(180deg) scale(1.5);
}

.light-blue {
    background: #8ECAE6;
}

.blue-green {
    background: #219EBC;
}

.dark-blue {
    background: #023047;
}

.honey-yellow {
    background: #FFB703;
}

.sun-orange {
    background: #FB8500;
}

.light-blue-text {
    color: #8ECAE6;
}

.blue-green-text {
    color: #219EBC;
}

.dark-blue-text {
    color: #023047;
}

.honey-yellow-text {
    color: #FFB703;
}

.sun-orange-text {
    color: #FB8500;
}