{% extends 'guess_ball_app/commons/base.html' %}
{% block content %}
<main>

    <div style="margin-bottom: 0" class="light-blue section row">
        <br><br>
        <div class="container">
            <h3 class="animate__animated animate__bounceInRight white-text inter_bold">Contact</h3>
            <span style="display: inline-block" class="animate__animated animate__bounceInLeft white-text">We are a tralala. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. In dui magna, dictum eu egestas at, molestie non ante.
                Fusce mollis ante lorem. Sed sit amet vestibulum nibh. Nullam consequat dictum aliquam. </span>
        </div>
        <br><br> <br><br>
    </div>

</main>
{% endblock content %}