{% load static %}
<!DOCTYPE html>
<html>
{% include "guess_ball_app/head.html" %}
<body>

{% include "guess_ball_app/header.html" %}

<main>
    <div style="margin-bottom: 0" class="light-blue section row">
        <br><br>
        <div class="container">
            <h3 class="animate__animated animate__bounceInRight white-text inter_bold">Frequently Asked Questions (FAQ)</h3>
            <span style="display: inline-block" class="animate__animated animate__bounceInLeft white-text">RANDOM.ORG is a true random number service that generates randomness via
            atmospheric noise. This page contains frequently asked questions (and answers!) related to the service.</span>
        </div>
        <br><br> <br><br>
    </div>
    <div class="section">
        <div class="container">
            <ul class="collapsible popout">
                {% for faq in all_faqs %}
                    <li>
                    <div class="collapsible-header left-align">
                        <i class="honey-yellow-text material-icons ">help_outline</i>
                        <span class="grey-text text-darken-2">{{ faq.question }}</span>
                    </div>
                    <div class="collapsible-body left-align">
                    <span>{{ faq.answer }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% include "guess_ball_app/footer.html" %}

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{% static "guess_ball_app/js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "guess_ball_app/js/main.js" %}"></script>
</body>
</html>