{% load static %}
<!DOCTYPE html>
<html>
{% include "guess_ball_app/head.html" %}
<body>
{% include "guess_ball_app/header.html" %}
<main>
    <div style="padding: 20px" class="light-blue section row center-align">
        <br><br>

        <h1 class="animate__animated animate__bounceInLeft header center white-text inter_bold">Play spot the ball!</h1>
        <div class="row center">
            <h5 class="animate__animated animate__bounceInRight header col-s-12 white-text">
                Play Spot the ball Ro now, find out where the ball is and win
            </h5>
            <br><br>
            <a href="{% url 'competitions' %}" class="animate__animated animate__bounceInLeft waves-effect waves-red btn-large orange">
                <i class="material-icons left">play_arrow</i>
                Play
            </a>
        </div>
        <br><br><br>
    </div>
    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center"><i class="medium red-text material-icons">local_activity</i></h2>
                        <h5 class="light-blue-text center">Get a ticket</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dui magna,
                            dictum eu egestas at, molestie non ante. Fusce mollis ante lorem.
                            Sed sit amet vestibulum nibh. Nullam consequat dictum aliquam.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center green-text">
                               <i class="medium material-icons">gps_fixed</i>
                        </h2>
                        <h5 class="light-blue-text center">Spot the ball</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dui magna,
                            dictum eu egestas at, molestie non ante. Fusce mollis ante lorem.
                            Sed sit amet vestibulum nibh. Nullam consequat dictum aliquam.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center"><i class="honey-yellow-text medium material-icons">emoji_events</i></h2>
                        <h5 class="light-blue-text center">Win</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dui magna,
                            dictum eu egestas at, molestie non ante. Fusce mollis ante lorem.
                            Sed sit amet vestibulum nibh. Nullam consequat dictum aliquam.</p>
                    </div>
                </div>
            </div>

        </div>
        <br><br>
    </div>
</main>

{% include "guess_ball_app/footer.html" %}

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{% static "guess_ball_app/js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "guess_ball_app/js/main.js" %}"></script>
</body>
</html>