{% load static %}
<html lang="en">
<head>
    <title>
        {% block title %}Spot the ball{% endblock title %}
    </title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "guess_ball_app/css/materialize.min.css" %}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "guess_ball_app/css/main.css" %}"
          media="screen,projection"/>
    <link rel="stylesheet" href="{% static "guess_ball_app/css/animate.min.css" %}"/>
    <link rel="icon" type="image/png" href="{% static "guess_ball_app/img/favicon.png" %}"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
{% block navbar %}
    {% include 'guess_ball_app/commons/navbar.html' %}
{% endblock navbar %}

{% block content %}
{% endblock content %}

{% block footer %}
    {% include "guess_ball_app/commons/footer.html" %}
{% endblock footer %}
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{% static "guess_ball_app/js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "guess_ball_app/js/main.js" %}"></script>
</body>
</html>